{
    "COMMENT": "This file is no longer needed, but for historical record !!!",
    "COMMENT": "The policy.json file in /etc/proton directory should contain",
    "COMMENT": "empty json object: {}",

    "COMMENT": "This first part is moved to code in gluon/policies/base.py",
    "context_is_admin": "role:admin",
    "owner": "tenant_id:%(tenant_id)s",
    "admin_or_owner": "rule:context_is_admin or rule:owner",
    "context_is_advsvc":  "role:advsvc",
    "admin_or_network_owner": "rule:context_is_admin or tenant_id:%(network:tenant_id)s",
    "admin_owner_or_network_owner": "rule:owner or rule:admin_or_network_owner",
    "admin_only": "rule:context_is_admin",
    "regular_user": "",
    "default": "rule:admin_or_owner",

    "COMMENT": "The rest of policies are defined in gluon/models/base/base.yaml file",
    "create_port": "rule:admin_or_network_owner",
    "list_ports": "rule:admin",
    "get_port": "rule:admin_or_owner",
    "update_port": "rule:admin_or_network_owner",
    "delete_port": "rule:admin_or_network_owner",

    "create_interface": "rule:admin_or_network_owner",
    "list_interfaces": "rule:admin",
    "get_interface": "rule:admin_or_owner",
    "update_interface": "rule:admin_or_network_owner",
    "delete_interface": "rule:admin_or_network_owner",

    "create_vpn": "rule:admin_or_network_owner",
    "list_vpns": "rule:admin",
    "get_vpns": "rule:admin_or_owner",
    "update_vpn": "rule:admin_or_network_owner",
    "delete_vpn": "rule:admin_or_network_owner",

    "create_vpnbinding": "rule:admin_or_network_owner",
    "list_vpnbindings": "rule:admin",
    "get_vpnbinding": "rule:admin_or_owner",
    "update_vpnbinding": "rule:admin_or_network_owner",
    "delete_vpnbinding": "rule:admin_or_network_owner",

    "create_vpnafconfig": "rule:admin_or_network_owner",
    "list_vpnafconfigs": "rule:admin",
    "get_vpnafconfig": "rule:admin_or_owner",
    "update_vpnafconfig": "rule:admin_or_network_owner",
    "delete_vpnafconfig": "rule:admin_or_network_owner",
}
